/* Основные настройки */
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    
    /* Убедитесь, что этот файл лежит в той же папке, что и index.html */
    background: url('Gemini_Generated_Image_wplcj6wplcj6wplc.png') no-repeat center center fixed;
    
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* Контейнер меню (левая треть страницы) */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 33.33%; 
    height: 100%;
    display: flex;
    align-items: center; 
    padding-left: 80px; 
    box-sizing: border-box;
    z-index: 10;
}

/* Список пунктов */
.menu-items {
    display: flex;
    flex-direction: column; 
    gap: 40px; 
}

.side-menu a {
    text-decoration: none;
    color: #1a3c1a; 
    font-size: 28px; 
    font-weight: 600;
    letter-spacing: 4px; 
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.side-menu a:hover {
    color: #2F821B; 
    padding-left: 15px;
}
