* Основные настройки */
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background: url('plaster-bg.jpg') no-repeat center center fixed;
    background-size: cover; /* Растягивает на весь экран */
    position: relative;
    height: 100vh;
    overflow: hidden;
}
/* Верхнее меню */
.top-menu {
    position: absolute;
    top: 25px;
    right: 40px;
    display: flex;
    gap: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.top-menu a {
    text-decoration: none;
    color: #2F821B;
    font-size: 20px;
    transition: color 0.3s ease;
}

.top-menu a:hover {
    color: #93FADF;
}

/* Центральная надпись */
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #2F821B;
}

.center-text h1 {
    font-size: 110px;
    margin: 0;
    line-height: 0.9;
}

.center-text h2 {
    font-size: 100px;
    margin: 0;
    line-height: 1;
}

.side-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    overflow: hidden;
}

.side-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transform: none;   /* важно */
}

/* Правая нижняя картинка (увеличена в 1.5 раза) */
.bottom-right-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    transform: scale(1.5);
    transform-origin: bottom right;
}

.bottom-right-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
